---
title: "Project Report"
subtitle: Team Too-pullz
author: Lila Weiner, Gabrielle Bliss, Riley Otsuki, and Kenneth Yeon
date: 03/15/2023
number-sections: true
abstract: _This project aims to predict the gross of a movie through multivariate linear regression to inform stakeholders about profitability, as some highly grossing films result in huge net losses. We also aim to predict, through multivariate logistic regression, whether a movie will be highly rated on the IMDB platform to inform stakeholders of projected audience opinion. The two response variables of interest are predicted based on a dataset containing predictors such as actor facebook likes, country of origin, release year, and production budget. Simple regression and logistic models for gross and IMDB score were created to maximize inference and prediction. A tentative logistic model classifying highly profitable movies was also explored for a more complete analysis through the lens of inference. Our regression model aims to minimize MAE, while the logistic model aims to optimize the precision and FPR metrics. Lasso and forward stepwise selection were used to further optimize variable selection and inference after initial analysis and transformations of categorical and numerical predictors. Greater popularity of actors and slightly higher durations of films seemed to contribute most beneficially to both high gross and high ratings, while budget had a more significant impact in predicting gross_.
format: 
  html:
    toc: true
    toc-title: Contents
    self-contained: true
    font-size: 100%
    toc-depth: 4
    mainfont: serif
execute:
    echo: false
jupyter: python3
---

## Length of the report {-}
The length of the report must be no more than 15 pages, when printed as PDF. However, there is no requirement on the minimum number of pages.

You may put additional stuff as Appendix. You may refer to the Appendix in the main report to support your arguments. However, your appendix is unlikely to be checked while grading, unless the grader deems it necessary. The appendix, references, and information about GitHub and individual contribution will not be included in the page count, and there is no limit on the length of the appendix.

**Delete this section from the report, when using this template.**

## Code should be put separately in the code template {-}
Your report should be in a research-paper like style. If there is something that can only be explained by showing the code, then you may put it, otherwise do not put the code in the report. We will check your code in the code template. 

**Delete this section from the report, when using this template.**

## Background / Motivation

What motivated you to work on this problem?

Mention any background about the problem, if it is required to understand your analysis later on.

  Our group was interested in performing an analysis on film data, as we all enjoy watching movies, but know relatively little about the inner workings of the film industry. Upon finding our dataset on Kaggle, we wondered if we could determine what factors contribute to a movie’s success, as it pertains to money and imdb rating. After conducting some preliminary research, we developed a basic understanding of the conditions that qualify a movie as successful. If a movie’s income exceeds its budget, then the movie is technically deemed profitable.

## Problem statement 

Describe your problem statement. Articulate your objectives using absolutely no jargon. Interpret the problem as inference and/or prediction.

How can we predict a movie’s success (via IMDB rating) and gross income based on its relationship to a collection of predictors (genre, duration, director, etc.)? <br>
We will utilize regression to explore the gross income of a movie, as gross is a continuous variable, numeric variable. We used the classification approach in regard to IMDB ratings.<br>
This problem is a combination of both inference and prediction. We will try to predict the gross income that a movie would generate based on certain predictors, but we also want to analyze which variables are most pertinent when used in a regression model to predict this value. For our classification objective (determining IMDB rating level), we will focus on inference; we are interested in the relationship between certain predictors and high/low ratings

## Data sources
What data did you use? Provide details about your data. Include links to data if you are using open-access data.

## Stakeholders
Who cares? If you are successful, what difference will it make to them?

## Data quality check / cleaning / preparation 

In a tabular form, show the distribution of values of each variable used in the analysis - for both categorical and continuous variables. Distribution of a categorical variable must include the number of missing values, the number of unique values, the frequency of all its levels. If a categorical variable has too many levels, you may just include the counts of the top 3-5 levels. 

If the tables in this section take too much space, you may put them in the appendix, and just mention any useful insights you obtained from the data quality check that helped you develop the model or helped you realize the necessary data cleaning / preparation.

Were there any potentially incorrect values of variables that required cleaning? If yes, how did you clean them? 

Did you do any data wrangling or data preparation before the data was ready to use for model development? Did you create any new predictors from exisiting predictors? For example, if you have number of transactions and spend in a credit card dataset, you may create spend per transaction for predicting if a customer pays their credit card bill. Mention the steps at a broad level, you may put minor details in the appendix. Only mention the steps that ended up being useful towards developing your final model(s).

## Exploratory data analysis

Put the relevant EDA here (visualizations, tables, etc.) that helped you figure out useful predictors for developing the model(s). Only put the EDA that ended up being useful towards developing your final model(s). 

List the insights (as bullet points) you got from EDA that ended up being useful towards developing your final model. 

Again, if there are too many plots / tables, you may put them into appendix, and just mention the insights you got from them.

## Approach

What kind of a model (linear / logistic / other) did you use? What performance metric(s) did you optimize and why?

Is there anything unorthodox / new in your approach? 

What problems did you anticipate? What problems did you encounter? Did the very first model you tried work? 

Did your problem already have solution(s) (posted on Kaggle or elsewhere). If yes, then how did you build upon those solutions, what did you do differently? Is your model better as compared to those solutions in terms of prediction / inference?

**Important: Mention any code repositories (with citations) or other sources that you used, and specifically what changes you made to them for your project.**

## Developing the model

Explain the steps taken to develop and improve the base model - informative visualizations / addressing modeling assumption violations / variable transformation / interactions / outlier treatment / influential points treatment / addressing over-fitting / addressing multicollinearity / variable selection - stepwise regression, lasso, ridge regression). 

Did you succeed in achieving your goal, or did you fail? Why?

**Put the final model equation**.

**Important: This section should be rigorous and thorough. Present detailed information about decision you made, why you made them, and any evidence/experimentation to back them up.**

## Limitations of the model with regard to inference / prediction

If it is inference, will the inference hold for a certain period of time, for a certain subset of population, and / or for certain conditions.

If it is prediction, then will it be possible / convenient / expensive for the stakeholders to collect the data relating to the predictors in the model. Using your model, how soon will the stakeholder be able to predict the outcome before the outcome occurs. For example, if the model predicts the number of bikes people will rent in Evanston on a certain day, then how many days before that day will your model be able to make the prediction. This will depend on how soon the data that your model uses becomes available. If you are predicting election results, how many days / weeks / months / years before the election can you predict the results. 

When will your model become too obsolete to be useful?

## Other sections *(optional)*

You are welcome to introduce additional sections or subsections, if required, to address any specific aspects of your project in detail. For example, you may briefly discuss potential future work that the research community could focus on to make further progress in the direction of your project's topic.

## Conclusions and Recommendations to stakeholder(s)

What conclusions do you draw based on your model? If it is inference you may draw conclusions based on the coefficients, statistical significance of predictors / interactions, etc. If it is prediction, you may draw conclusions based on prediction accuracy, or other performance metrics.

How do you use those conclusions to come up with meaningful recommendations for stakeholders? The recommendations must be action-items for stakeholders that they can directly implement without any further analysis. Be as precise as possible. The stakeholder(s) are depending on you to come up with practically implementable recommendations, instead of having to think for themselves.

If your recommendations are not practically implementable by stakeholders, how will they help them? Is there some additional data / analysis / domain expertise you need to do to make the recommendations implementable? 

Do the stakeholder(s) need to be aware about some limitations of your model? Is your model only good for one-time use, or is it possible to update your model at a certain frequency (based on recent data) to keep using it in the future? If it can be used in the future, then for how far into the future?

## GitHub and individual contribution {-}

Put the **Github link** for the project repository.

Add details of each team member's contribution in the table below.

<html>
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}
    

</style>
<body>

<h2>Individual contribution</h2>

<table style="width:100%">
     <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 15%;"> 
    </colgroup>
  <tr>
    <th>Team member</th>
    <th>Contributed aspects</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>Lila Weiner</td>
    <td>Data cleaning, EDA, linear regression model development ADD HERE</td>
    <td>Cleaned data to impute missing values and developed visualizations to identify appropriate variable transformations. ADD HERE</td>
  </tr>
  <tr>
    <td>Gabrielle Bliss</td>
    <td>Data cleaning, EDA, assumptions and interactions, linear regression model development (lasso, removing influential points) ADD HERE</td>
    <td>Cleaned data to create dummy variables for genres, worked on transformations for budget, used KFoldCV function to assess accuracy, attempted lasso ADD HERE</td>
  </tr>
    <tr>
    <td>Riley Otsuki</td>
    <td>Data cleaning/prep, Logistic model development ADD HERE</td>
    <td>EXAMPLE! ADD HERE Identified outliers/influential points and analayzed their effect on the model.</td>   
  </tr>
    <tr>
    <td>Kenneth Yeon</td>
    <td>Logistic model development ADD HERE</td>
    <td>EXAMPLE! ADD HERE Performed variable selection on an exhaustive set of predictors to address multicollinearity and overfitting.</td>   
  </tr>
</table>

[Link to GitHub Insights and Commits](https://github.com/kennyeon/Too-Pullz-Project/graphs/contributors)

List the **challenges** you faced when collaborating with the team on GitHub. Are you comfortable using GitHub? 
Do you feel GitHuB made collaboration easier? If not, then why? *(Individual team members can put their opinion separately, if different from the rest of the team)*

> **Gabby:** I think I am still a little rusty on the branching aspect of GitHub and how to successfully commit and push to the main. It was easiest for me to just push to the main while coordinating with my group separately about when I was doing so in order to make sure we were not losing work. For a while, my GitHub desktop was giving me issues, and so I had Lila commit my new files for me by sending them over to her. While it was not the easiest of roads, I think I am more comfortable with GitHub as we are ending the quarter. I think I could definitely use GitHub on my own with a branch; the stress of making sure we were coordinating pushes, pulls, and merges accordingly as a group was the most concerning part about using the platform. In my opinion, GitHub did make things easier in the end, but I can see how if the whole group was 100% comfortable using it it would be even more useful.

> **Lila:**

> **Kenny:**

> **Riley:**

## References {-}

List and number all bibliographical references. When referenced in the text, enclose the citation number in square brackets, for example [1].

[1] Authors. The frobnicatable foo filter, 2014. Face and Gesture submission ID 324. Supplied as additional material
fg324.pdf. 3

## Appendix {-}

You may put additional stuff here as Appendix. You may refer to the Appendix in the main report to support your arguments. However, the appendix section is unlikely to be checked while grading, unless the grader deems it necessary.

##### Data Quality Check, Categorical Variables

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.formula.api as smf

movies = pd.read_csv('movie_metadata.csv')

values = pd.Series(dtype = object)
for i in movies.columns[movies.dtypes == object]: 
    ser = movies[str(i)].value_counts().sort_values(ascending = False)[0:3]
    values = pd.concat([values, ser])
    
values = pd.DataFrame(values) 
varr = np.array(values.iloc[:, 0])
vals = pd.DataFrame(varr, index = [['color']*2+['director_name']*3+['actor_2_name']*3+['genres']*3+['actor_1_name']*3
                              +['movie_title']*3+['actor_3_name']*3+['plot_keywords']*3+['movie_imdb_link']*3+
                              ['language']*3+['country']*3+['content_rating']*3, values.index], columns = ['Top 3 Value Counts, Categorical'])
vals

                                                                    Top 3 Value Counts, Categorical
color           Color                                                                          4815
                 Black and White                                                                209
director_name   Steven Spielberg                                                                 26
                Woody Allen                                                                      22
                Clint Eastwood                                                                   20
actor_2_name    Morgan Freeman                                                                   20
                Charlize Theron                                                                  15
                Brad Pitt                                                                        14
genres          Drama                                                                           236
                Comedy                                                                          209
                Comedy|Drama                                                                    191
actor_1_name    Robert De Niro                                                                   49
                Johnny Depp                                                                      41
                Nicolas Cage                                                                     33
movie_title     Ben-Hur                                                                           3
                Pan                                                                               3
                King Kong                                                                         3
actor_3_name    John Heard                                                                        8
                Ben Mendelsohn                                                                    8
                Steve Coogan                                                                      8
plot_keywords   based on novel                                                                    4
                one word title                                                                    3
                assistant|experiment|frankenstein|medical stude...                                3
movie_imdb_link http://www.imdb.com/title/tt0232500/?ref_=fn_tt...                                3
                http://www.imdb.com/title/tt3332064/?ref_=fn_tt...                                3
                http://www.imdb.com/title/tt0360717/?ref_=fn_tt...                                3
language        English                                                                        4704
                French                                                                           73
                Spanish                                                                          40
country         USA                                                                            3807
                UK                                                                              448
                France                                                                          154
content_rating  R                                                                              2118
                PG-13                                                                          1461
                PG                                                                              701

In [6]:
null = pd.Series(movies[movies.columns[movies.dtypes == object]].isnull().sum(), name = 'Null Counts, Categorical')
pd.DataFrame(null)

                 Null Counts, Categorical
color                                  19
director_name                         104
actor_2_name                           13
genres                                  0
actor_1_name                            7
movie_title                             0
actor_3_name                           23
plot_keywords                         153
movie_imdb_link                         0
language                               12
country                                 5
content_rating                        303

In [7]:
values = []
for i in movies.columns[movies.dtypes == object]: 
    ser = len(movies[str(i)].value_counts())
    values = values + [ser]
    
pd.DataFrame(values, index = [movies.columns[movies.dtypes == object]], columns = ['Unique Counts, Categorical'])

                 Unique Counts, Categorical
color                                     2
director_name                          2398
actor_2_name                           3032
genres                                  914
actor_1_name                           2097
movie_title                            4917
actor_3_name                           3521
plot_keywords                          4760
movie_imdb_link                        4919
language                                 47
country                                  65
content_rating                           18

##### Data Quality Check, Continuous Variables

In [11]:
null_row = movies[movies.describe().columns].isnull().sum().to_dict()
describe = movies.describe()
describe = describe.append(pd.Series(null_row, index = describe.columns, name = 'null count'))
describe

/var/folders/6f/tmk9mhc93xz60c89qc9dr8kw0000gn/T/ipykernel_38289/1000149820.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  describe = describe.append(pd.Series(null_row, index = describe.columns, name = 'null count'))

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000
null count,50.000000,15.000000,104.000000,23.000000,7.000000,8.840000e+02,0.000000e+00,0.000000,13.000000,21.000000,4.920000e+02,108.000000,13.000000,0.000000,329.000000,0.000000